/* main grid container */
.tv-episode-card {
    width: 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    background: #e0e0e0;
    box-shadow: 10px 10px 24px -9px rgba(0,0,0,0.75);
	border-radius: 10px;
	height: 400px;
    overflow-y: scroll;
}

.container {
	display: flex;
    flex-wrap: wrap;
}

/* header tag */
.header {
	border-radius: 10px;
	padding: 10px;
	width: 20px;
	text-align: auto;
	background-color: rgba(231, 27, 180, 0.945);
	padding: 30px;
}

/* main div tag */
.div {
	background-color: rgba(240, 236, 11, 0.8);
	text-align: center;
	padding: 0px 0;
	font-size: 10px;
}

/* image tag */
.imga {
	border: 1px solid rgb(155, 11, 11);
	border-radius: 50px;
	border-style: dashed;
	padding: 5px;
	width: 200px;
}

.Game-of-throne {
	width: 100px;
	background-color: rgb(12, 226, 30);
}
